@import 'reset';
@import 'variables';

body {
  background-image: url('https://lh3.googleusercontent.com/_VrCNitDRy45PSKqLXKkpZu-8VGmlAV08ESfxX8lT4t4GxdGKhNIAEs4h5MBo-SwozsLa7RoVmgvXCYPeB4XvMm2af9A1_NDhIE6DUXVQJqo1P0TjWmHSNqOFBA-7uGN-XFz0ukwMfw=w2400');
  background-repeat: no-repeat;
  background-size: cover;
  color: $hover-text-color;
  font-family: 'Henny Penny', cursive;
}

.welcome-section {
  padding: 20px;
}

.welcome-message {
  padding: 20px;
  text-align: center;
  font-size: 3em;
  // background: $gradient-color;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  color: $welcome-banner-color;
  font-family: 'Henny Penny', cursive;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

.quit-game {
  font-size: 15px;
  background-color:$quit-color;
  outline: 0;
  border: none;
  color: $hover-text-color;
  border-radius: 2px;
  font-family: 'Henny Penny', cursive;
  &:hover {
    margin-left: 20px;
    transform: scale(1.5) perspective(1px);
  }
}

form.splash {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30%;
    input {
      margin-bottom: 10px;
      font-size: 15px;
      border: none;
      border-radius: 2px;
      outline: 0;
      font-family: 'Henny Penny', cursive;
    }
    label {
      font-size: 20px;
      margin-bottom: 5px;
    }
}

.start-game {
  font-size: 20px;
  outline: 0;
  border-radius: 2px;
  border: none;
  width: 40%;
  margin: auto;
  font-family: 'Henny Penny', cursive;
    &:hover {
      background: $button-hover-color;
      color: $hover-text-color;
      transform: scale(1.5) perspective(1px);
    }
    &:active { 
      background-color: $active-background-color;
    }
    &:disabled {
      background: #ccc;
      color: white;
    }
  }

h1 {
  @extend .welcome-message;
  font-size: 5em;
  margin-bottom: -25px;
}

.puzzle-input-area {
  $border: 5px;
  color: #FFF;
  background: $gradient-color-border;
  border: solid $border $text-color;
  border-radius: .5em;
  height: 5em;
  margin: 10px 0;
}

.puzzle-display {
  background: black;
  height: 200px;
  width: 20em ;
  border-radius: 1em;
}

.turn-prompt {
  text-align: center;
  font-size: 2em;
  margin-bottom: -30px;
  margin-top: 15px;
}

.puzzle-crystal-area {
  margin: 20px;
}

.puzzle-area {
  padding: 10px;
  margin-bottom: -25px;
  h3 {
    color: $text-color;
    font-weight: bold;
    font-size: 20px;
  }
}

.crystal-ball {
  padding: 10px;
  .crystal-spin {
    width: 40%;
    margin: auto;
    img {
      height: 15em;
      margin: auto;
      display: block;
     }
    .spin-value {
      position: relative;
      bottom: 142px;
      // left: -53px;
      font-size: 2em;
      text-align: center;
     }
  }
}

.display-round {
  font-size: 2em;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 20px;
}

.current-puzzle {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  z-index: 10;
  color: $border-color;
}

.puzzle-container {
  border-bottom: 1px solid $border-color;
  height: 20px;
  width: 20px;
  margin: 5px;
  padding: 1%;
  text-align: center;
  display: flex;
  font-size: 30px;
}

.consonants {
  display: flex;
  justify-content: center;
  // margin: 20px;
  button {
    font-size: 2em;
    outline: 0;
    border: none;
    margin: 2px;
    border-radius: 50%;
    font-family: 'Henny Penny', cursive;
    &:hover {
      background: $text-color;
      color: $hover-text-color;
      transform: scale(1.5) perspective(1px);
    }
    &:active { 
      background-color: $active-background-color;
    }
    &:disabled {
      background: #ccc;
      color: $text-color;
    }
  }
}

.vowels {
  @extend .consonants;
}

.solve-puzzle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 3em;
  margin-top: 1em;
}

.solve-puzzle-btn {
  margin-left: -4.5px;
  border: none;
  height: 32px;
  outline: 0;
  vertical-align: middle;
  border-radius: 0 2px 2px 0;
  font-family: 'Henny Penny', cursive;
  font-size: 20px;
    &:hover {
      background: $button-hover-color;
      color: $hover-text-color;
    }
    &:active { 
      background-color: $active-background-color;
    }
}

.spin-btn, .buy-vowel-btn {
  border-radius: 2px;
  @extend .solve-puzzle-btn;
  &:disabled {
    background: #ccc;
    color: $text-color;
  }
  &:hover {
    transform: scale(1.5) perspective(1px);
  }
}

.solve-puzzle-input {
   border: none;
   height: 30px;
   border-radius: 2px 0 0 2px;
   font-family: 'Henny Penny', cursive;
}

.player-boxes {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-top: 35px;
  .box {
      padding: 10px;
      animation: float 9s linear infinite;
      img {
        height: 311px;
      }
      .player-info {
        position: relative;
        bottom: 10em;
        left: 3em;
        color: $border-color;
        h3 {
          position: relative;
          bottom: 125px;
          font-size: 30px;
          color: $text-color;
        }
        h4 {
          position: relative;
          bottom: 50px;
          color: $text-color;
        }
      }
    }
  }

  @keyframes float {
    20% {
     transform : translate(3px, 1px);
   }
   50% {
      transform : translate(50px, 10px);
   }
    70% {
     transform : translate(90px, 30px);
   }
   100% {
      transform : translate(2px, 2px);
   }
 }

.space {
  border: none;
}

.inst {
  height: 300px;
  width: 300px;
  z-index: 900;
  margin: 0 auto;
  /*position: absolute;*/
  background-color: green;
}