$primary-background: #75226A;
$button-hover-color: #27ae60;
$hover-text-color: white;
$active-background-color: #d35400;
$quit-color: #c0392b;
$game-background: './images/purple-velvet-background';
$border-color: black;
$gradient-color-border: linear-gradient(to right, #F79F1F, #f6e58d, orange);
$gradient-color: linear-gradient(#f6e58d, #F79F1F)

// $title-font: 'Calligraffitti', cursive;