$instructions-background: rebeccapurple;
$button-hover-color: #2c3e50;
$player-name-top-color: #812E2E;
$hover-text-color: white;
$dark-bg-text-color: white;
$text-color: #2c3e50;
$text-shadow: 1px black;
$active-background-color: #d35400;
$quit-color: #c0392b;
$border-color: black;
$welcome-banner-color: #660000;
$gradient-color-border: linear-gradient(to right, #F79F1F, #f6e58d, orange);
$h-font-color: #d35400;
$instruction-btn-color: darkolivegreen;